---
layout: default
---

<!-- Start Notice -->

{% assign heroClass = 'hero' %}
{% if site.data.notice.active %}
    {% assign heroClass = 'hero hero-with-notice' %}
    <div class="notice">
        <h3>{{ site.data.notice.title}}</h3>
        <p>{{ site.data.notice.body }}</p>
    </div>
{% endif %}

<!-- End Notice -->

<!-- Start Hero -->
<!-- <div class="{{heroClass}}">
    <div class="hero-content">
        <a class="logo" href="{{ site.baaseurl }}">
          <img src="/img/logo1.png" width="194" height="194" alt="NWISR">
        </a>
    </div>
</div> -->
<!-- End Hero -->


<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <a class="scroll" href="#referees">
            <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
            <h3>Referees</h3>
            <ul>
                <li>Become a referee</li>
            </ul>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="scroll" href="#organizations">
            <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
            <h3>Sports Organizations</h3>
            <ul>
                <li>Outsource your scheduling, referee management, and other tasks</li>
            </ul>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="scroll" href="#contact">
            <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
            <h3>Stay Informed</h3>
            <ul>
                <li>Subscribe to our newsletter</li>
            </ul>
        </a>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">{{ site.data.about.section }}</h2>

        <div class="row">
            <div class="col-sm-8">
                <h3>{{ site.data.about.title }}</h3>
                <p>{{ site.data.about.content }}</p>

                {% for bullet in site.data.about.bullets %}
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon {{bullet.icon}}"><use xlink:href="#{{bullet.icon}}"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>{{ bullet.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <img src="/img/logo1.png" width="194" height="194" alt="NWISR">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Contact -->
<div id="contact" class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img src="/img/eric.png"/>
            </div>
            <div class="col-sm-6">
                <h3><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>Contact Eric</h3>
                <p>NWISR is operated by <a href="/about/ericbeck.html">Eric Beck</a>, the United States Adult Soccer Association Region IV Referee Coordinator. Eric Beck is known for providing referee assignment services to leagues and tournaments as well as running the Metro PDX 7v7 soccer league. He has been involved in the soccer arena for over 50 years and was inducted into the USASA National Soccer Hall-of-Fame in 2010.</p>
                <p>Eric is available by phone between the hours of 8AM and 4PM at 503-662-8182. Correspondence may be mailed to 2169 SE Scott Avenue, Gresham OR 97080</p>
            </div>
            <div class="col-sm-4">
                <h3><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg>Subsribe to Mailing List</h3>
                <p>Coming soon...</p>
<!--
                <p>Join our mailing list to stay informed of changing rules, requirements, and other important information.</p>
-->
                <!-- Begin MailChimp Signup Form -->
<!--
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                <form action="//metro7v7.us4.list-manage.com/subscribe/post?u=3d979ef95cc2df03167ef5454&amp;id=16cacff209" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
-->
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<!--
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3d979ef95cc2df03167ef5454_16cacff209" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div>
-->
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->

<!-- Start Treatments -->
<div id="referees" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">For Referees</h2>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a href="https://docs.google.com/forms/d/1R2IDw_liLbxyYZCI2BIllgXiTbUlfy-W5GLJMx1ROH8/viewform" class="icon-box">
                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                    <h4>Register for Referee Classes</h4>
                </a>
            </div>

<!--
            <div class="col-sm-6 col-md-4">
                <a href="/referees" class="icon-box">
                    <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
                    <h4>Become a Referee</h4>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="/forms/w9.html" class="icon-box">
                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                    <h4>Submit W9 Form</h4>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="https://sportzing.com/sz/register/tstg" class="icon-box">
                    <img src="https://static.sportzing.com/i/szlogo-sm.png"/>
                    <h4>Join or Login to SportZing</h4>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                    <h4>USSF Certification</h4>
                    <p>
                        <strong>{{ site.data.season.fee }}</strong><br/>
                        Note that USSF certification is not needed for indoor referees
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="/forms/contract.html" class="icon-box">
                    <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
                    <h4>Submit Contract</h4>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-bolt"><use xlink:href="#icon-bolt"></use></svg>
                    <h4>Something</h4>
                </div>
            </div>
-->
        </div>

        <p>Additional resources for referees is currently under development and will be added soon. This will include detailed instructions on how to join NWISR as a referee as well as information for existing referees.</p>

    </div>
</div>
<!-- End Treatments -->

<!-- Start Treatments -->
<div id="organizations" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">For Leagues, Tournaments, and Arenas</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a href="https://docs.google.com/forms/d/1YSSNS8awUTy2XbFNHObExwOWqkBEVxjl2F_DhGdBhew/viewform" class="icon-box">
                    <svg class="icon icon-commenting"><use xlink:href="#icon-commenting"></use></svg>
                    <h4>Referee Evaluation Report</h4>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="https://docs.google.com/forms/d/1hgD3K3GQQLinAf_gfztwYDTIktSxjVWHe78p-8ZlCj0/viewform" class="icon-box">
                    <svg class="icon icon-commenting"><use xlink:href="#icon-commenting"></use></svg>
                    <h4>Rant or Rave about a Referee</h4>
                </a>
            </div>
<!--

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-bolt"><use xlink:href="#icon-bolt"></use></svg>
                    <h4>League and Facility Management</h4>
                    <p>Management services for soccer and futsal organizations</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
                    <h4>Referee Assigning Services</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                    <h4>Game Scheduling Services</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                    <h4>Payroll Management</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
                    <h4>Team Payments</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-trophy"><use xlink:href="#icon-trophy"></use></svg>
                    <h4>Referee Training</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-trophy"><use xlink:href="#icon-trophy"></use></svg>
                    <h4>On-site Services</h4>
                </div>
            </div>
-->
        </div>

        <p>Additional resources for organizations is currently under development and will be added soon. This will include detailed information about NWISR services as well as information for existing customers.</p>

    </div>
</div>
<!-- End Treatments -->
<!-- Start Our team -->
<!-- <div id="team" class="team">
    <h2 class="section-title">Our Team</h2>
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></span>
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></span>
            </div>
        </div>
    {% endfor %}
    </div>
</div> -->
<!-- End Our team -->

<!-- Start Gallery -->
<!-- <div id="gallery" class="gallery">

    <h2 class="section-title">Gallery</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div> -->
<!-- End Gallery -->

