<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- SportZing Schedules -->
    <!-- <link type="text/css" rel="stylesheet" href="//sportzing.com/web/dist/styles-0.1.9.min.css"> -->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/favicon/android-icon-192x192.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon/favicon-96x96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/favicon/manifest.json" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#f1490a">
    <meta name="msapplication-TileImage" content="{{ "/favicon/ms-icon-144x144.png" | prepend: site.baseurl }}">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#f1490a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#f1490a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#f1490a">

    <script>
      window.CONFIG = window.CONFIG || {};
      {% if jekyll.environment == "production" %}
      window.CONFIG.tokenUrl = "https://tl4hta2txd.execute-api.us-west-2.amazonaws.com/prod/token";
      window.CONFIG.checkoutUrl = "https://tl4hta2txd.execute-api.us-west-2.amazonaws.com/prod/checkout";
      {% else %}
      window.CONFIG.tokenUrl = "https://tl4hta2txd.execute-api.us-west-2.amazonaws.com/dev/token";
      window.CONFIG.checkoutUrl = "https://tl4hta2txd.execute-api.us-west-2.amazonaws.com/dev/checkout";
      {% endif %}
    </script>
</head>
