/* ABOUT
-------------------------------------------------*/
.about {
    @extend %space;
    .media {
        margin-bottom: $space;
    }
}

.contact {

    .icon {
        margin-right: 10px;
        color: $colorPrimary;
        vertical-align: top;
    }

    #mc_embed_signup{
      clear:left;
      font:14px Helvetica,Arial,sans-serif;
    }

}