/* HERO
-------------------------------------------------*/
.hero {
    @extend %clearfix;
    margin-top: 49px;
}

.hero-content {
    height: 200px;
    .logo {
        float: left;
        margin: 0;
        padding: 10px;
    }
}
